//Colores para fondo de la página
$primary: pink;
$secondary: #E8E1D5;


//Colores de los botones 
$button: #6F1F42;
$success: rgb(154, 85, 170);
// $button2: rgb(44, 8, 52)(208, 0, 255); 

//Colores del texto
$textColor: black;
$textColor2: white;
$textNegrita: bold;

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans:ital@1&family=Patua+One&display=swap');

$font-family: 'AR One Sans', sans-serif;

$theme-colors: (
    primary: $primary,
    fondo: $bs-color,
    color: $textColor,
    success: $success,
    font-bold: $textNegrita,
);


@import "../node_modules/bootstrap/scss/bootstrap";

