//Colores que usaré para la página web

$colorFondo: #E8E1D5;
$colorFondo2: #1A090D;

$colorText: black;

$colorButton: #7E7297;
body {
    background-color: $colorFondo;
    color: $colorText;

    .btn{
        background-color: $colorButton;
    }
}

footer {
    background-color: $colorFondo2;
}

#fondo{
    background-color: $colorFondo2;
}
