
#results {
  margin-top: 3em;
  display:grid;
  gap: 1px;
  grid-template-columns: repeat(2, 2fr);
  padding: 2px;
  text-align: center;
}
#albums {
  margin-top: 3em;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  text-align: center;
}
form label{
  display: inline-block;
  width: 30%;
}
#albums > div > div {
  font-size: 11px;
}

img {
  height: 235px;
  width: 235px;
  align-items: center;
  display: inline;
  border-radius: 15px;
  border: 2px solid #666;
}
body{
  background-color: #393D3F;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
}