/*Ana S.*/
/*Font Style*/

/* @import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans:ital@1&family=Patua+One&display=swap'); */

@font-face {
    font-family: myFirstFont;
    src: url(../AROneSans-VariableFont_ARRR\,wght.ttf);
}

header { background-color: #E8E1D5; }


#fondo{ background-color: #1A090D;}

.btn{ background-color: #7E7297; }

.btn:hover {
    background-color: #6F1F42;
    color: #E8E1D5;
}

/*Tamaño de las imagenes y posición*/

#img_logo {
    width: 200px;
}
img {
    width: 200%;
}

footer { background-color: #1A090D; }

body {
    background-color: #E8E1D5;
    font-family: myFirstFont;

    background-image: url(../img/gato2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

img:hover {
    /* transform: scale(1.1); */
    opacity: 70%;
}


#buttonOutcome:hover{
   background-color:#6F1F42;
   color: #E8E1D5;
}

