*{
    padding: 0;
    margin: 0;
}
.cartas {
    background-color: #BCD6D7;
    margin: 0 auto;
    border: 3px solid #5995FB;
    border-radius: 10px ;
    margin-top: 100px;
    width: 600px;
   
}
.card{
    background-color: #3769BF;
    color: white;
    font-size: 32px;
    font-family:cursive;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    padding: 40px;
    margin: 10px;
    margin-top: 5px;
    text-align: center; 
    display: inline-block;
}